.header {
  display: flex;
  position: relative;
  width: 100%;
  height: 3.125rem;
  background-color: #78FF61;
}

.headerTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin: auto;
  color: #FAFAFA;
}
