.pageTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  font: bold;
}

.pokemonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1.5rem;
  gap: 1.5rem;
}

.pageButtonArea {
  display: flex;
  justify-content: space-around;
}

.pageButton {
  margin-bottom: 1.5rem;
  width:  6rem;
  height: 3rem;
  background-color: aqua;
  border: none;
  box-shadow: 9px 10px 22px -9px #777777;
  border-radius: 12px;
  transition: all 0.3s;
  cursor: pointer;
}

.pageButton:hover {
  box-shadow: none;
}